.button {
	margin: 1rem;
	float: left;
	position: relative;
	font-family: arial;
	text-transform: uppercase;
	cursor: pointer;

	.label {
		padding: 1rem;
		display: inline-block;
	}
	&.v8 {
		&:hover {
			.icon {
				transform: scale(1.1) skew(-40deg, 0deg);

				&:before,
				&:after {
					width: 100%;
				}

				span {
					&:before,
					&:after {
						height: 100%;
					}
				}
			}
		}

		.label {
			padding: 10px 22px;
		}

		.icon {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: skew(-40deg, 0deg);
			transition: all 0.5s;
			background: transparent;

			&:before,
			&:after {
				content: '';
				height: 1px;
				width: 30px;
				position: absolute;
				display: block;
				background: #f0202f;
				transition: width 0.5s;
			}
			&:before {
				left: 0;
				top: 0;
			}
			&:after {
				right: 0;
				bottom: 0;
			}
			span {
				&:before,
				&:after {
					content: '';
					background: #f0202f;
					position: absolute;
					display: block;
					width: 2px;
					height: 30px;
					transition: height 0.5s;
				}
				&:before {
					left: 0;
					top: 0;
				}
				&:after {
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}
