@import './_variables.scss';

.container {
	display: grid;
	grid-template-rows: minmax(min-content, 10rem) 1fr minmax(min-content, 10rem);
	grid-template-columns: repeat(8, 1fr);
	width: calc(100% - 20rem);
	height: 100vh;
	margin: 0 auto;
	padding: 2rem;
}
